page-home {

    .body{
        background-image: url(../../assets/imgs/slide-4.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-origin: inherit;
    }
    
}
